<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C78B2821E1D011D00F36115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C78B29B1E1D011D00F36115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C78B2A61E1D011E00F36115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
